<h1>Welcome to Bingo!</h1>

<p><strong><%= link_to("View All Users", controller: "users") %></strong></p>

<br/>
<br/>

<h3>Login</h3>
<%= form_tag(login_path, method: "post") do %>
  <%= label_tag(:email, "Email:") %> &nbsp;
  <%= text_field_tag(:email) %>  &nbsp; &nbsp;
  <%= submit_tag("Login!") %>
<% end %>

<br/>
<br/>

<h3>Register</h3>
<%= form_for(:user, url: users_path) do |f| %>
  <%= label_tag(:email, "Email:") %> &nbsp;
  <%= f.text_field :email %> &nbsp; &nbsp;
  <%= label_tag(:screen_name, "Screen Name:") %> &nbsp;
  <%= f.text_field :screen_name %>  &nbsp; &nbsp;
  <%= f.submit "Create!" %>
<% end %>
